<h1>CAS Account Audit Ticket Template</h1>

<pre>
This ticket has been created to perform a full CAS audit on this customer.
Instructions can be found here:
https://wiki.rackspace.corp/cas/account_audit

Please fill out the following with your findings in a private comment.
Any customer recommendations or notifications should be made in a public
comment.

============================================
>> CIL
    Contracts:

    Device List:

    Implementation Ticket:

    SKU Reviews

    SegConfig Tickets

>> Spectrum
    Maintenance Mode:

    Switches:

    Live Links:

    Security Strings:

>> eHealth
    Policies:

    Live Health Policies:

    Run Reports:

    Missing Elements:

>> APM
    CEM:

    Introscope:

>> POP
    Webmetrics:

    Pingdom:

>> Tickets/Alerts

============================================
</pre>
