<!-- /* Page Header   Please leave */ -->

<!-- /* Customer Name - Account NO: */ -->

<!-- <<TableOfContents(3)>> -->

<h1> Overview </h1>
General Overview

<h2> Customer Contacts </h2>
<ul>
  <li>Contact 1</li>
  <li>Contact 2</li>
</ul>
<hr />

<p>
  <h1>Visio</h1>
  Attach Network Diagram here
</p>
<hr />

<p>
  <h1>Network Layer</h1>
  Generic comments - DR / HA etc.
</p>

<p>
  <h2>Firewall</h2>
  Firewall Notes
</p>

<p>
  <h2>Load balancer</h2>
  Load Balancer Notes
</p>
<hr />

<p>
  <h1>Application Layer</h1>
  <h2>Web</h2>
  Web layer notes
</p>

<p>
  <h2>Mail</h2>
  Mail settings
</p>


<p>
  <h2>App</h2>
  Applicaiton layer notes
</p>
<hr />

<p>
  <h1>Database Layer</h1>
  Database configuration
</p>
<hr />

<p>
  <h1>Monitoring</h1>
  Monitoring specification specially custom ones
</p>
<hr />

<p>
  <h1>Backups</h1>
  Backups specification
</p>
<hr />

<p>
  <h1>Patching</h1>
  Patching configuration
</p>
<hr />

<p>
  <h1>Troubleshooting</h1>
  Troubleshooting steps.
</p>
<hr />

<p>
  <h1>Incidents</h1>
</p>
<hr />

<p>
  <h1>Future Plans</h1>
</p>
<hr />

<p>
  <h1>Server Descriptions and Rebuild Instructions</h1>
</p>
<hr />

<p>
  <h1>Monthly Review Log</h1>
</p>
<hr />

<p>
  <h2>Monthly Account Review</h2>
</p>
-

<p>
  <h2>ARIC 2.0/AMGs/DMG</h2>
</p>
-

<p>
  <h2>Managed Backup</h2>
</p>
-

<p>
  <h1>Quarterly Review Log</h1>
</p>
<hr />


<p>
  <h2>Rackwatch Monitoring</h2>
</p>
-

<p>
  <h2>Agent Based Monitoring</h2>
</p>
-

<p>
  <h2>Patching</h2>
</p>
-

<p>
  <h2>HA Testing</h2>
</p>
-

<p>
  <h2>Cluster Failover Testing</h2>
</p>
-
<hr />


<p>
  <h1>Change Log</h1>
  <ul>
    <li>Datestamp: Change Log</li>
  </ul>
</p>

<p>
  <h1>Appendix</h1>
</p>

<!-- /* Page Footer   Please leave */  Page Hits:   <<Hits>> -->
