<h1>eBay customer facing maintenance template (what we send to them via email for all maintenance)</h1>

<h2>Email subject</h2>

(_______________) Maintenance Request (Acct #)

(replace (_______) with what the maintenance is. Ex. NetApp Maintenance Request (Acct #947515)

<h2>Body</h2>
<p>
<strong>Maintenance objective ::</strong>
<br />
Quick summary of what we are trying to accomplish  and the account(s) on which the maintenance is occurring on. 
</p>
<p>
<strong>Timeframe ::</strong>
<br />
What type of maintenance window do we want
</p>
<p>
<strong>Risks ::</strong>
<br />
What are the risks here? Be as <strong>VERBOSE</strong> as possible.  
</p>
<p>
<strong>Maintenance summary ::</strong>
<br />
Exact steps you will take during the maintenance. This should be the same as the standard maintenance template and could be copied and pasted from there. 

Ex. 

1) Power off server
2) install package X, Y, Z
3) restart apache
</p>
<p>
<strong>After the maintenance ::</strong>
<br />
Any further steps needed, further maintenances needed, timeframes, etc. This should be verbose also. 
</p>
<p>
<strong>Associated tickets ::</strong>
<br />
Ticket numbers pertaining to this issue and/or maintenance (may be multiple if multiple items are involved)  
</p>
