<!-- /* Page Header Please leave */ -->

<h2>Rackspace Goal Template</h2>

<!-- <<TableOfContents>> -->
<hr />

<p>
  <h1>Summary</h1>
  This template is to facilitate aligned, transparent goal-setting at all levels in a wiki medium that can be modified as priorities and the nature of goals change.
</p>
<hr />

<p>
  <h2>Vision</h2>
  <description and meaning--what are you trying accomplish>
</p>

<p>
  <h2>Alignment</h2>
  <ul>
    <li>--RAX</li>
    <ul>
      <li>what corporate goals does this support--w/ link to that goal</li>
    </ul>
    <li>--Department</li>
    <ul>
      <li>what goal in my BU does this support?</li>
    </ul>
  </ul>
</p>

<p>
  <h2>Metric</h2>
  define a (preferably quantitative) unit of measurement of 'how are we doing?'
</p>

<p>
  <h2>Target</h2>
  define a (preferably quantitative) win state
</p>

<p>
  <h2>Dependencies</h2>
  known roadblocks & prerequisites
</p>

<p>
  <h2>Stakeholders</h2>
  who do you ''know'' you will need to collaborate with--bonus points for linking to their goal page
</p>
<hr />

<!-- /* Page Footer Please leave */ Page Hits: <<Hits>> -->
