<!-- Page Header   Please leave -->

<!-- Handover Ticket Template -->

<!-- <<TableOfContents(3)>> -->

<ul><li> DRAFT  </li></ul>

<h1> EMEA Intensive(SMB + Enterprise) Linux </h1>

These is a generic template, so adapt it to your needs.

<pre>

=================
Network setup
=================
Firewall Gigabit : Yes/No
Load balancer Gigabit : Yes/No
Internal Segments Gigabit : Yes/No

Firewall Segments :-
Official names of segments (inside/outside/dmz) :
Network ranges and masks

Client VPNs set up or remaining to be set up

Site to Site VPNs

Any globally whitelisted IPs ?

Firewall Logging if any. Mention the option if not enabled.

Load balancing groups, configuration

Are they HA ? If HA test was done, did we provide then a report?

=================
Server Setup
=================
Login Details for each server

#Server1
Private IP :
Public IP :
Primary User:
Primary User password:
Administrative User :
Administrative User password:
Access Method : SSH/RDP/OTHER
*Note: Direct root login is disabled. You need to SSH using the primary username and password

Software packages installed :-

#Cluster1
Cluster VIPs, services, members
Mention cluster commands and how to use them

=================
Storage
=================
SAN/DAS Etc
Exact hardware setup - how many LUNs, RAID level
How they're partitioned and what servers they're presented to

=================
Private Cloud
=================
Configuration details and any caveats
Mention Portal graphs and other self-help information


=================
Public Cloud
=================
Rack connect if used. Rack connect has a public ticket that references lots of documentation for the customer to review.


=================
Backups
=================
Mention the backup retention policy, configuration
Database backups and usual caveats

=================
Monitoring
=================
Explain what is being monitored and what options we have.
Mention Alert suppression
Mention Portal graphs

=================
Legal
=================
Other boilerplate that ACs usually provide

</pre>

----

<h1> EMEA Intensive Windows </h1>
Feel free to use the EMEA one or write your own


<p>
  <h1> US Intensive Linux </h1>
Feel free to use the EMEA one or write your own
</p>
<p>
<h1> US Intensive Windows </h1>
Feel free to use the EMEA one or write your own
</p>
<p>

<!--  Page Footer   Please leave */  Page Hits:   <<Hits>> -->
