<h1> RackConnect Wiki Templates </h1>
<<Anchor(top)>>

If you need to add to the !RackConnect wiki, use the below instructions for creating new sections and pages that make your information easy to find and easy to use.

<<TableOfContents>>

Go back: [[RackConnect | RackConnect main index page]]

<<Anchor(newSect)>>
<h2> New Section Template </h2>

 1. [[#structure|Structure of sections]]
 1. [[#anchor|Using Anchors]]

<<Anchor(structure)>>
<h3> Structure of Sections </h3>
There are a few structural elements that make navigating your sections easier. First is a listing of the the section's contents. After you have listed the subsection information, write the text for each subsection. At the bottom of the subsection, create the breadcrumb links that allow the user to navigate back up to the top of the section or the to the top of the page.

<pre>
<<Anchor(section_top)>>
<h2> < Section Title > </h2> 
 1. [[#anchor1|Subsection 1 name]]
 1. [[#anchor2|Subsection 2 name]]
 1. [[#anchor3|Subsection 3 name]]

<<Anchor(anchor1)>>
<h3> Subsection 1 </h3>
Here is the introductory text to this subsection. Below it is the information that is easy to read and easy to use.

Go back: [[#top|Top of page]] | [[#section_top|Top of section]]

---
<<Anchor(anchor2)>>
<h3> Subsection 2 </h3>
Here is the introductory text to this subsection. Below it is the information that is easy to read and easy to use.

Go back: [[#top|Top of page]] | [[#section_top|Top of section]]

---
<<Anchor(anchor3)>>
<h3> Subsection 3 </h3>
Here is the introductory text to this subsection. Below it is the information that is easy to read and easy to use.

Go back: [[#top|Top of page]] | [[#section_top|Top of section]]
</pre>

The #top tag for the top of the page should already be a part of any page you work on.

Go back: [[#top|Top of page]] | [[#newSect|Top of section]]

<<Anchor(anchor)>>
<h3> Using Anchors </h3>

Anchors are links within a single page. They allow the user to move up and down a page by focusing on content, rather than knowing how the page is structured. (Knowing how the page is structured is your job, not theirs.)

There are two parts to make an anchor work: The anchor itself and the link to it.

'''The Anchor Itself''' - The anchor itself is created by anchor tag and the name of your anchor. You can choose whatever you like for your anchor name, but others may see it when they try to link to it, so it's best to keep it simple and descriptive.
Example anchor tag:
<pre>
<<Anchor(anchor_name)>>
</pre>
<<Anchor >> is the anchor tag, and the text in the parentheses is the anchor name.

'''The Anchor Link''' - To link to an anchor, you use square brackets to reference the anchor name, and then give your link a descriptive name. The reference and your descriptive name are separated by a pipe ( | ).
Example anchor link:
<pre>
[[#anchor_name | This is the information you need!]]
</pre>

Go back: [[#top|Top of page]] | [[#newSect|Top of section]]

<<Anchor(newPage)>>
<h2> New Page Template </h2>

 1. [[#pageStructure|Structural Elements of Pages]]
 1. [[#pageTemplate|Whole Page Template]]
 1. [[#pageLink|Link to a Page]]
 1. [[#pageSectionLink|Link to a Section of a Page]]

<<Anchor(pageStructure)>>
<h3> Structural Elements of Pages </h3>

To create a new page, simple navigate to it in your browser's address bar. All !RackConnect pages should go under the !RackConnect "directory" (i.e., wiki.rackspace.corp/RackConnect/NewPage). You will be prompted to create a new page. Do so.

Pages are made up of sections, but there are a few extra structural items that will help you and your users get around. Do not put a space after your equals signs, or the wiki will not know it's code.

'''Headers''' - This wiki uses equals signs to mark headers. 
 * <h1> Page Title </h1> - Single equals is for the page title
 * <h2> Section Title </h2> - Double equals for section titles
 * <h3> Subsection Title </h3> - Triple equals for subsections titles
 * <h4> Tasks </h4> - Quadruple equals for tasks or subject specific areas

'''The Top Anchor''' - You have already seen this used in the sections discussion, above. If you are creating new pages, you will need to add this anchor yourself. Don't get fancy; just call it "top". Put it just above the title, like this:
<pre>
<<Anchor(top)>>
<h1> Page Title </h1>
</pre>
Under your top anchor, you may choose to add a brief description of what the user will find on the page, or why it is important.

'''Table of Contents''' - The Table of Contents (or TOC) generates automatically based on your headers. Add the following code beneath your top anchor or page description text, like so:
<pre>
<<TableOfContents>>
</pre>

'''Section Line Dividers''' - Each section has a line divider that helps visually break up the information. It is coded with three dashed lines, like so:
<pre>
---
</pre>


'''Footer''' - At the bottom of the page, put the Footer text. This give a page count of how many people have viewed the page. Here is the code for a footer.
<pre>
----
 . Page Hits:   <<Hits>>
</pre>


Go back: [[#top|Top of page]] | [[#newPage|Top of section]]

<<Anchor(pageTemplate)>>
<h3> Whole Page Template </h3>

If you'd like to copy/paste a template and fill it in, use the below code. 

<pre>
<<Anchor(top)>>
<h1> Page Title </h1>
<<TableOfContents>>

<<Anchor(section_top)>>
<h2> < Section Title > </h2> 
 1. [[#anchor1|Subsection 1 name]]
 1. [[#anchor2|Subsection 2 name]]
 1. [[#anchor3|Subsection 3 name]]

<<Anchor(anchor1)>>
<h3> Subsection 1 </h3>
Here is the introductory text to this subsection. Below it is the information that is easy to read and easy to use.

Go back: [[#top|Top of page]] | [[#section_top|Top of section]]

---
<<Anchor(anchor2)>>
<h3> Subsection 2 </h3>
Here is the introductory text to this subsection. Below it is the information that is easy to read and easy to use.

Go back: [[#top|Top of page]] | [[#section_top|Top of section]]

---
<<Anchor(anchor3)>>
<h3> Subsection 3 </h3>
Here is the introductory text to this subsection. Below it is the information that is easy to read and easy to use.

Go back: [[#top|Top of page]] | [[#section_top|Top of section]]

----
 . Page Hits:   <<Hits>>
</pre>


Go back: [[#top|Top of page]] | [[#newPage|Top of section]]

<<Anchor(pageLink)>>
<h3> Link to a Page </h3>

To link to a page, put its name in square brackets with prepended dots and slash. You can give your links a new name, if you don't want to use the page's name.
Link using page name:
<pre>
[[../RC_Page]]
</pre> 
Link using new descriptive text:
<pre>
[[../RC_Page| The page I was telling you about]]
</pre>

Go back: [[#top|Top of page]] | [[#newPage|Top of section]]

<<Anchor(pageSectionLink)>>
<h3> Link to Section on a Page </h3>

If you want to link to a specific section in a page, here is how you do it.
<pre>
[[../RC_Page#anchorname| An important section]]
</pre>


Go back: [[#top|Top of page]] | [[#newPage|Top of section]]

----
 . Page Hits:   <<Hits>>

