{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript">
  $(document).ready(function(){
      $('#author_form').submit(function(){
	  if( !$('#sso').val()  ) {
	      alert("Please enter the SSO of the user with elevated permissions.");
	      $('#sso').focus();
	      return false;
	  } 

	  if( !$('#firstname').val() ) {
	      alert("Please enter a first name.");
	      $('#firstname').focus();
	      return false;
	  }

	  if( !$('#lastname').val() ) {
	      alert("Please enter a last name");
	      $('#lastname').focus();
	      return false;
	  }

	  if( !$('#email').val() ) {
	      alert("Please enter a valid email address");
	      $('#email').focus();
	      return false;
	  }
	  return true;
      });
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  <!-- Author: -module(author, [Id, Sso, First, Last, Email, Active, RoleId, CreatedOn, UpdatedOn]). -->
  <form class="form-horizontal" method="post" id="author_form" name="author_form">
    <fieldset>
      <legend>Promote or Demote an Author</legend>
      <div class="control-group">
	<label class="control-label" for="sso">SSO</label>
	<div class="controls">
	  <input type="text" id="sso" name="sso" placeholder="SSO username" value="{{author.sso}}" />
	</div>
      </div>

      <div class="control-group">
	<label class="control-label" for="firstname">Firstname</label>
	<div class="controls">
	  <input type="text" id="firstname" name="firstname" placeholder="Firstname" value="{{author.first}}" />
	</div>
      </div>

      <div class="control-group">
	<label class="control-label" for="lastname">Lastname</label>
	<div class="controls">
	  <input type="text" id="lastname" name="lastname" placeholder="Lastname" value="{{author.last}}" />
	</div>
      </div>

      <div class="control-group">
	<label class="control-label" for="email">Email</label>
	<div class="controls">
	  <input type="text" id="email" name="email" placeholder="changeme@rackspace.com" value="{{author.email}}" />
	</div>
      </div>

      <div class="control-group">
	<label class="control-label" for="role_id">Role</label>
	<div class="controls">
	  <select id="role_id" name="role_id">
	    {% if roles %}
	    {% for role in roles %}
	    <option value="{{role.id}}" {% if role.id == author.role_id %}selected="selected"{% endif %}>{{role.display_name}}</option>
	    {% empty %}
	    {% endfor %}
	    {% endif %}
	  </select>
	</div>
      </div>

      <button type="submit" class="btn btn-primary">Make it so!</button>
    </fieldset>
  </form>
</div>
{% endblock %}
