{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  <ul>
    {% for author in authors %}
    <li>{{author.sso}} <a href="{% url action="edit" id=author.id%}">Edit</a> <a href="{% url action="delete" id=author.id%}">Delete</a></li>
    {% empty %}
    No promoted users.
    {% endfor %}
  </ul>
</div>
{% endblock %}
