{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript">

function hide_stuff() {
    $('#tag_bool').hide();
    $('#tag_list').hide();
    $('#categories_bool').hide();
    $('#categories_list').hide();
    $('#fulltext_bool').hide();
    $('#ondate').hide();
    $('#date_bool').hide();
    $('#date_range_sel').hide();
    $('#start_date').hide();
    $('#start_and_end').hide();
    $('#end_date').hide();
}

  jQuery(document).ready(function() {
      $('#to_advanced_btn').click(function(){
	  $('#simple').hide();
	  $('#advanced').show();
	  $('#searchtype').val("advanced");
      });

      $('#to_regular_btn').click(function(){
	  $('#advanced').hide();
	  $('#simple').show();
	  $('#searchtype').val("simple");
      });

      $('#ondate').datepicker({ numberOfMonths: [ 1,2 ] });
      $('#start_date').datepicker({ numberOfMonths: [ 1,2 ] });
      $('#end_date').datepicker({ numberOfMonths: [ 1,2 ] });

      $('#search_form').submit(function(){
	  if( !$('#searchstring').val() ) {
	      alert("Please enter something to search for.");
	      $('#searchstring').focus();
	      return false;
	      }
      });

      $('#criteria').change(function(){
	  hide_stuff();
	  switch($('#criteria :selected').val())
	  {
	  case "author":
	      // hide_stuff();
	      $('#author_bool').show();
	      $('#authorlist').show();
	      break;
	  case "fulltext":
	      //hide_stuff();
	      $('#fulltext_bool').show();
	      break;
	  case "category":
	      // hide_stuff();
	      $('#categories_bool').show();
	      $('#categories_list').show();
	      break;
	  case "tag":
	      // hide_stuff();
	      $('#tag_bool').show();
	      $('#tag_list').show();
	      break;
	  case "date":
	      // hide_stuff();
	      $('#ondate').show();
	      break;
	  case "date_range":
	      // hide_stuff();
	      $('#date_bool').show();
	      $('#date_range_sel').show();
	      $('#start_date').show();
	      $('#start_and_end').show();
	      $('#end_date').show();
	      break;
	  default:
	      // alert($(this).val());
	      // hide_stuff();
	      break;
	  }
      });


  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">  
  <!--
      "Simple form first, the advanced form is in here, too, and I am using jQuery hide and seek games
      for the content to stay but to switch between the forms"
    -->
  <div class="row-fluid">
    <div class="span3 offset5">
      <img src="{{_base_url}}/static/img/openkb_logo.png" class="img-circle">
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6 offset3">
      <form method="post" id="search_form" name="search_form" action="search">
	<input type="hidden" id="searchtype" name="searchtype" class="" value="simple" />
	<div class="input-append">
	  <input type="text" id="searchstring" name="searchstring" class="span12 search-query" required="required" />
	  <button type="submit" class="btn">Search</button>
	</div>
	<div id="simple">
	  <p>
	    <button id="to_advanced_btn" name="to_advanced_btn" class="btn" type="button">Advanced Search</button>
	  </p>
	</div>
	
	<div id="advanced" style="display:none;">
	  <div class="row-fluid">
	    <div class="span12">
	      <select name="criteria" id="criteria" class="span3">
		<option value="">Select criteria</option>
		<option value="category">Category</option>
		<option value="tag">Tag</option>
		<option value="fulltext">Fulltext</option>
		<option value="author">Author</option>
		<option value="date">Date</option>
		<option value="date_range">Date Range</option>
	      </select>

	      <!-- Categories -->
	      <select name="categories_bool" id="categories_bool" class="span2" style="display:none;">
		<option value=""></option>
		<option value="is">is</option>
		<option value="is_not">is not</option>
	      </select>

	      <select name="categories_list" id="categories_list" style="display:none;">
		<option value=""></option>
		{% for category in categories %}
		<option value="{{category.id}}">{{category.name}}</option>
		{% empty %}
		{% endfor %}
	      </select>
	      <!-- End Categories -->

	      <!-- Tags -->
	      <select name="tag_bool" id="tag_bool" class="span2" style="display:none;">
		<option value=""></option>
		<option value="has">hass</option>
		<option value="has_not">has not</option>
	      </select>

	      <input type="text" id="tag_list" name="tag_list" class="span5" class="span3" placeholder="Enter tags separated by commas" style="display:none"/>
	      <!-- End Tags -->

	      <!-- Fulltext -->
	      <select name="fulltext_bool" id="fulltext_bool" class="span2" style="display:none;">
		<option value=""></option>
		<option value="include">include</option>
		<option value="exclude">exclude</option>
	      </select>
	      <!-- End of Fulltext -->

	      <!-- Authors -->
	      <select name="authors_bool" id="authors_bool" class="span2" style="display:none;">
		<option value=""></option>
		<option value="is">is</option>
		<option value="is_not">is not</option>
	      </select>

	      <input type="text" id="author" name="author" class="span5" class="span3" placeholder="Author" style="display:none"/>
	      <select name="author" id="author">
		<option value=""></option>
		{% for author in authors %}
		<option value="{{author.id}}">{{author.name}}</option>
		{% empty %}
		{% endfor %}
	      </select>
	      <!-- End of Authors -->

	      <!-- Date : On a specific date -->
	      <input type="text" id="ondate" name="ondate" class="span2" placeholder="Click..." style="display:none;" />
	      <!-- End Date -->

	      <!-- Date Range -->
	      <select name="date_bool" id="date_bool" class="span2" style="display:none;">
		<option value=""></option>
		<option value="is">is</option>
		<option value="is_not">is not</option>
	      </select>

	      <select name="date_range_sel" id="date_range_sel" class="span2" style="display:none;">
		<option value=""></option>
		<option value="before">before</option>
		<option value="between">between</option>
		<option value="after">after</option>
	      </select>

	      <input type="text" id="start_date" name="start_date" class="span2" placeholder="Click..." style="display:none;" />
      	      <span id="start_and_end" style="display:none;">and&nbsp;</span>
	      <input type="text" id="end_date" name="end_date" class="span2" placeholder="Click..." style="display:none;" />
	      <!-- End Date Range -->

	    </div>
	  </div>

	  <div class="row-fluid">
	    <div class="span6 offset5">
	      <button id="to_regular_btn" name="to_regular_btn" class="btn" type="button">Regular Search</button>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>

<div class="row">
  {% if results.by_tags %}
  <h3>Tags</h3>
  {% for result in results.by_tags %}
  title/tags: <a href="/search/view/{{result.id}}">{{result.title}} / {{result.tags }}</a><br />
  {% empty %}
  No data.
  {% endfor %}
  {% endif %}

  {% if results.by_titles %}
  <h3>Titles</h3>
  {% for result in results.by_titles %}
  Titles: <a href="/search/view/{{result.id}}">{{result.title}} / {{result.tags}}</a><br />
  {% empty %}
  {% endfor %}
  {% endif %}

  {% if results.by_content %}
  <h3>Content</h3>
  {% for result in results.by_content %}
  Titles: <a href="/search/view/{{result.id}}">{{result.title}} / {{result.tags}}</a><br />
  {% empty %}
  {% endfor %}
  {% endif %}

</div>

</div>
{% endblock %}
