{% extends "layout/application.html" %}
{% block content %}
  {% if by_authors %}
  <h2>By Author</h2>
  <ul>
  {% for author in by_authors %}
  <li>{{author.author.first}} {{author.author.last}} <a href="{% url action="view" id=author.article_id %}">{{author.title}}</a>
    <a href="{% url controller="article" action="edit" id=author.article_id %}">Edit</a>
  </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if by_categories %}
  <h2>By Category</h2>
  <ul>
  {% for category in by_categories %}
  <li>category: {{category.category.name}} article by {{category.author.sso}} article <a href="{% url action="view" id=category.id %}">{{category.title}}</a>
    <a href="{% url controller="article" action="edit" id=category.id %}">Edit</a>
  </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if by_tags %}
  <h2>By Tag</h2>
  <ul>
  {% for tag in by_tags %}
  <li>tags: {{tag.tags}} article by {{tag.author.sso}} article <a href="{% url action="view" id=tag.id%}">{{tag.title}}</a>
    <a href="{% url controller="article" action="edit" id=tag.id %}">Edit</a>
  </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if by_titles %}
  <h2>Found in Title</h2>
  {% for result in by_titles %}
  <a href="{% url action="view" id=result.id %}">{{result.title}}</a><br />
  {% endfor %}
  {% endif %}

  {% if by_content %}
  <h2>Found in Content (Fulltext Search)</h2>
  {% for result in by_content %}
  <a href="{% url action="view" id=result.id %}">{{result.title}}</a><br />
  {% endfor %}
  {% endif %}

  {% if articles_by_author %}
  <h2>Articles by Author</h2>
  {% for article in articles_by_author %}
  <a href="{% url action="view" id=article.id %}">{{article.title}}</a><br />
  {% endfor %}

  {% endif %}

{% endblock %}
