{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  TagSearch for: {{criteria}}
  {% for article in articles %}
  <a href="/article/show/{{article.article_id}}">{{article.title}}</a>
  {% empty %}
  Nothing to display
  {% endfor %}
</div>
{% endblock %}
