{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
  tinyMCE.init({
        mode  : "textareas",
        theme : "advanced",
        readonly: true,
        theme_advanced_buttons3_add : "fullpage"
  });

  jQuery(document).ready(function() {
      $('#search').click(function(){
	  document.location = "/search"
      });
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  
  <div class="row">
    <div class="offset1 span2">
      <label for="category" id="category_label" class="control-label" name="category_label">Category</label>
    </div>
    <div class="span10">
      {{article.category.name}}
    </div>
  </div>

  <div class="row">
    <div class="offset1 span2">
      <label for="tags" id="category_label" class="control-label" name="category_label">Tags</label>
    </div>
    <div class="span10" id="tags" name="tags">
      <a href="{{tag}}">{{article.tags}}</a>
    </div>
  </div>

  <div class="row">
    <div class="offset1 span2">
      <label for="author" id="category_label" class="control-label" name="category_label">Author</label>
    </div>
    <div class="span10" id="author" name="author">
      {{article.author.fullname}}
    </div>
  </div>

  <div class="row">
    <div class="offset1 span2">
      <label for="createdon" id="category_label" class="control-label" name="category_label">Created On</label>
    </div>
    <div class="span10" id="createdon" name="createdon">
      {{article.created_on|localdate}}
    </div>
  </div>

  <div class="row">
    <div class="offset1 span2">
      <label for="updatedon" id="category_label" class="control-label" name="category_label">Updated On</label>
    </div>
    <div class="span10" id="updatedon" name="updatedon">
      {{article.updated_on|localdate}}
    </div>
  </div>

  <div class="row">
    <div class="offset1 span11">
      <h3>{{article.title}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="offset1 span11">
      <textarea name="tinyMCEReadonly" id="tinyMCEReadonly" rows="20"  class="span11" tabindex="">{{article.content}}</textarea>  
    </div>
  </div>

  <button class="btn btn-primary" id="search" name="search" >Search</button>

</div>
{% endblock %}
