<!DOCTYPE html>
<html>
  <head>
    {% block javascript %}{% endblock %}
    <title>{% block title %}&copy; Rackspace 2012{% endblock %}</title>
  </head>
  <body>
    <article id="content">{% block content %}{% endblock %}</article>
  </body>
</html>
