{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  <fieldset>
    <legend>Create a new Category</legend>
    <form method="post" class="form-horizontal" id="category" name="category">
      <div class="control-group">
	<label class="control-label" for="name">Name</label>
	<div class="controls">
	  <input type="text" id="name" name="name" placeholder="Categoryname">
	</div>
      </div>

      <div class="control-group">
	<div class="controls">
	  
	  <button type="submit" class="btn btn-primary">Create Category</button>
	  
	</div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
