{% extends "layout/application.html" %}
{% block content %}
<div class="container-fluid well">
  <a href="{% url action="create" %}">Add Category</a>
  <ul class="">
  {% for category in categories %}  
    <li class="">
      {{category.name}}
      <a href="{% url action="edit" id=category.id %}">Edit</a>
      <a href="{% url action="delete" id=category.id %}">Delete</a>      
    </li>
  {% empty %}
  No Categories to list
  {% endfor %}
  </ul>
</div>
{% endblock %}
