{% extends "layout/application.html" %}
{% block content %}
{% if title %}
<h2>{{title}}</h2>
{% endif %}

<form method="post" id="" name="" action="">
  <table class="table" style="">
    <tr>
      <th>Subject</th>
      <td><input type="text" id="subject" name="subject" size="80" maxlength="255" placeholder="Quick description of the issue..." value="" /></td>
    </tr>
    <tr>
      <th valign="top">Details</th>
      <td><textarea name="body" id="body" rows="30" cols="120" tabindex="-1"></textarea></td>
    </tr>
  </table>
  <input type="submit" name="" value="Submit bug..." />
</form>
{% endblock %}
