{% extends "layout/application.html" %}
{% block content %}

<h2>Edit {{bug.name}}</h2>
<form method="post" id="bug" name="bug" >
  <dl>
    <dt><label for="bugname" id="bugname_label" name="bugname_label">Bug</label></dt>
    <dd>Bug</dd>
  </dl>
  <p><input type="submit" name="bug_submit" value="Submit Bug" /></p>
</form>

{% endblock %}
