{% extends "layout/login.html" %}
{% block title %}Login{% endblock %}
{% block content %}
	<div id="torso">
		<div id="login-container">
			<div id="logo"><a href="{% url controller="main" %}"><span>OpenCloud</span> Schedule</a></div>
			<form method="post" class="form-full" id="login_form" name="login_form" >
				{% include "layout/_flash.html" %}
				<dl class="clearfix">
					<dt><label for="sso_username">{% trans "SSO Username" %}</label></dt>
					<dd><input type="text" id="sso_username" name="sso_username" class="width-full" /></dd>
					<dt><label for="sso_password">{% trans "SSO Password" %}</label></dt>
					<dd><input type="password" id="sso_password" name="sso_password" class="width-full" /></dt>
				</dl>
				<p class="form-actions"><input type="submit" value="{% trans "Log In" %}"></p>
				<div class="login-explaination-show"><a href=""><img src="{{_base_url}}/static/img/icon-question.png" /></a></div>
			</form>
			<div id="login-explanation">
				<h2>Um, do I have access to this?</h2>
				<p>Only <strong>admins</strong> can log in and change stuff on the OpenCloud Dashboard. If you need admin rights, contact <a href="">Lane Fielder</a>.</p>
			</div> 
		</div>
	</div>
{% endblock %}
