{% extends "layout/browsing.html" %}
{% block javascript %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce_popup.js">
</script>

<script type="text/javascript">
var FileBrowserDialogue = {
    init : function () {
        // Here goes your code for setting your custom things onLoad.
    },
    mySubmit : function () {
        var URL = document.file_dialog.url_field.value;
        var win = tinyMCEPopup.getWindowArg("window");

        // insert information now
        win.document.getElementById(tinyMCEPopup.getWindowArg("input")).value = URL;

        // are we an image browser
        if (typeof(win.ImageDialog) != "undefined")
        {
            // we are, so update image dimensions and preview if necessary
            if (win.ImageDialog.getImageData) win.ImageDialog.getImageData();
            if (win.ImageDialog.showPreviewImage) win.ImageDialog.showPreviewImage(URL);
        }

        // close popup window
        tinyMCEPopup.close();
    }
}

tinyMCEPopup.onInit.add(FileBrowserDialogue.init, FileBrowserDialogue);
</script>
{% endblock %}
{% block content %}
<h3>Hello World!</h3>
<div class="container-fluid well">
  <form method="post" id="file_dialog" name="file_dialog">
    {% for item in data %}
    Itemname: {{item.title}}<br />
    {% empty %}
    {% endfor %}

    <input type="text" id="url_field" name="url_field" class="span3" maxlength="255" placeholder="Type something meaningful here" value="" />
    <input type="button" value="Submit" onClick="FileBrowserDialogue.mySubmit();">
  </form>

</div>
{% endblock %}
