{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript" src="{{_base_url}}/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{_base_url}}/static/js/customfilebrowser.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
	$('#create_article').submit(function(){
	    if( $('#title').val() == "" ) {
		alert("You need to enter a title.");
		$('#title').focus();
		return false;
	    }

	    if( $('#category').val() == "" ) {
		alert("Please select a category");
		$('#category').focus();
		return false;
	    }
	    
	    if( $('#tags').val() == "" ) {
		alert("You must tag your article with something useful,\notherwise nobody can find your article.");
		$('#tags').focus();
		return false;
	    }

	    //if( $('textarea#content').val() == "" ) {
	    //	alert("You haven't really written anything meaningful");
	    //	$('#content').focus();
	    //	return false;
	    //}

	    // This is the "cleanest" way to get text from TinyMCE's patched textarea (aka. The Editor)
	    if( tinymce.activeEditor.getContent() == "" ) {
		alert("Please enter some text!");
		$('#body.tinymce.mcecontentbody').focus();
		return false;
	    }

	    return true;
	});
    });

  tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        // Note to self: Download the css
        content_css: "https://wiki.rackspace.corp/moin_static193/rackspace/css/common.css",
        //<!--  https://wiki.rackspace.corp/moin_static193/rackspace/css/screen.css", -->
        plugins : "advimage,advlink,advlist,autolink,autoresize,autosave,contextmenu,inlinepopups,layer,nonbreaking,media,paste,searchreplace,template,fullscreen",
        //dialog_type : "modal",
        theme_advanced_buttons1_add : "media",
        theme_advanced_buttons2_add : "insertlayer,moveforward,movebackward,absolute,pastetext,pasteword,selectall,fullscreen",
        theme_advanced_buttons3_add : "nonbreaking,search,replace,template",
        nonbreaking_force_tab : true,
        template_external_list_url : "{{_base_url}}/static/js/tiny_mce/plugins/template/js/template_list.js",
        template_external_list_url: "/article/templates",
        document_base_url : "http://localhost:8010/static/uploads/images/",
        external_image_list_url: "/article/imglist",
        file_browser_callback: 'myFileBrowser',
        remove_linebreaks : false,
        fullscreen_new_window : false,
        fullscreen_settings : {
                theme_advanced_path_location : "top"
        },
        paste_auto_cleanup_on_paste : true,
        paste_preprocess : function(pl, o) {
            // Content string containing the HTML from the clipboard
            // alert(o.content);
            o.content = "-: CLEANED :-\n" + o.content;
        },
        paste_postprocess : function(pl, o) {
            // Content DOM node containing the DOM structure of the clipboard
            // alert(o.node.innerHTML);
            o.node.innerHTML = o.node.innerHTML + "\n-: CLEANED :-";
        }
  });
</script>
{% endblock %}
{% block head %}
<!-- Note to self: Download these CSSs -->
<link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="https://wiki.rackspace.corp/moin_static193/rackspace/css/common.css">
<link rel="stylesheet" type="text/css" charset="utf-8" media="screen" href="https://wiki.rackspace.corp/moin_static193/rackspace/css/screen.css">
<link rel="stylesheet" type="text/css" charset="utf-8" media="print" href="https://wiki.rackspace.corp/moin_static193/rackspace/css/print.css">
<link rel="stylesheet" type="text/css" charset="utf-8" media="projection" href="https://wiki.rackspace.corp/moin_static193/rackspace/css/projection.css">

<!-- css only for MS IE6/IE7 browsers -->
<!--[if lt IE 8]>
   <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/moin_static193/rackspace/css/msie.css">
<![endif]-->
{% endblock %}
{% block content %}
<div class="container-fluid well">
  <fieldset>
    <legend>Create Article</legend>
    <form method="post" id="create_article" name="create_article" class="well">
      <div class="row">
	<div class="span1">
	  <!-- [Id, Title, Content, CategoryId, Tags, AuthorId, CreatedOn, UpdatedOn] -->
	  <label for="title" id="title_label" name="title_label">Title</label>
	</div>
	<div class="span11">
	  <input type="text" id="title" name="title" class="span9" maxlength="255" placeholder="Give Your Article a Good Title" />
	</div>
      </div>
      
      <div class="row">
	<div class="span1">
	  <label for="category" id="category_label" name="category_label">Categories</label>
	</div>
	<div class="span11">
	  <select name="category" id="category" class="span3">
	    <option value=""></option>
	    {% if categories %}
	    {% for category in categories %}
	    <option value="{{category.id}}">{{category.name}}</option>
	    {% endfor %}
	    {% endif %}
	  </select>
	</div>
      </div>

      <div class="row">
	<div class="span1">
	  <label for="tags" id="tags_label" name="tags_label">Tags</label>
	</div>
	<div class="span11">
	  <input type="text" id="tags" name="tags" class="span9" class="span3" maxlength="255" placeholder="Tags, separated by commas" />
	</div>
      </div>

      <div class="row">
	<div class="span1">
	  <label for="content" id="content_label" name="content_label">Content</label>
	</div>
	<div class="span11">
	  <div id="placeholder"="Enter your Article content here" value="">
	    <textarea name="content" id="content" rows="20" class="span9" tabindex="-1"></textarea>
	  </div>
	</div>
      </div>

      <div class="row">
	<div class="span1 offset9">
	  <input type="submit" class="btn btn-primary" value="Save" />
	</div>
      </div>
    </form>
  </fieldset>
</div>
{% endblock %}
