{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
//  tinyMCE.init({
//        mode : "textareas",
//        theme : "advanced",
//        theme_advanced_buttons3_add : "fullpage"
//  });

  tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        // Note to self: Download the css
        content_css: "https://wiki.rackspace.corp/moin_static193/rackspace/css/common.css",
        //<!--  https://wiki.rackspace.corp/moin_static193/rackspace/css/screen.css", -->
        plugins : "advimage,advlink,advlist,autolink,autoresize,autosave,contextmenu,inlinepopups,layer,nonbreaking,media,paste,searchreplace,template,fullscreen",
        dialog_type : "modal",
        theme_advanced_buttons1_add : "media",
        theme_advanced_buttons2_add : "insertlayer,moveforward,movebackward,absolute,pastetext,pasteword,selectall,fullscreen",
        theme_advanced_buttons3_add : "nonbreaking,search,replace,template",
        nonbreaking_force_tab : true,
        template_external_list_url : "/article/templates",
        template_external_list_url : "{{_base_url}}/static/js/tiny_mce/plugins/template/js/template_list.js",
        document_base_url : "http://localhost:8001/static/uploads/images/",
        external_image_list_url : "/article/myexternallist",

        //<!-- template_templates : [ -->
        //<!--         { -->
        //<!--             title : "Editor Details", -->
        //<!--             src : "/templates/editor_details", -->
        //<!--             description : "Adds Editors Name and Staff ID" -->
        //<!--         } -->
        //<!-- ], -->
        fullscreen_new_window : false,
        fullscreen_settings : {
                theme_advanced_path_location : "top"
        },
        paste_auto_cleanup_on_paste : true,
        paste_preprocess : function(pl, o) {
            // Content string containing the HTML from the clipboard
            // alert(o.content);
            o.content = "-: CLEANED :-\n" + o.content;
        },
        paste_postprocess : function(pl, o) {
            // Content DOM node containing the DOM structure of the clipboard
            // alert(o.node.innerHTML);
            o.node.innerHTML = o.node.innerHTML + "\n-: CLEANED :-";
        }
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  <form method="post" id="create_article" name="create_article" class="well">

    <!-- <div class="row"> -->
    <!--   <div class="span3"> -->
    <!-- 	<\!-- [Id, Title, Content, CategoryId, Tags, AuthorId, CreatedOn, UpdatedOn] -\-> -->
    <!-- 	<label for="title" id="title_label" name="title_label">Title</label> -->
    <!-- 	<input type="text" id="title" name="title" class="input-xlarge" size="100" maxlength="255" placeholder="Give Your Article a Good Title" value="{{article.title}}" /> -->
    <!--   </div> -->
    <!-- </div> -->

<!--
    <div class="row">
      <div class="span3">
	<label for="tags" id="tags_label" name="tags_label">Tags</label>
	<input type="text" id="tags" name="tags" class="input-xlarge" size="80" maxlength="255" placeholder="Tags, separate by commas" value="{{article.tags}}" />
      </div>      
    </div>
-->
<!--
    <div class="row">
      <div class="span3">
	<label for="category" id="category_label" name="category_label">Categories</label>
	<select name="category" id="category">
	  {% if categories %}
	  {% for category in categories %}
	  <option value="{{category.id}}" {% if article.category_id == category.id %} selected="selected" {% endif %}>{{category.name}}</option>
	  {% endfor %}
	  {% endif %}
	</select>	
      </div>
    </div>
-->

    <!-- <div class="row"> -->
    <!--   <div class="span12"> -->
    <!-- 	<label for="content" id="content_label" name="content_label">Content</label> -->
    <!-- 	<\!-- <div id="placeholder"="Enter your Article content here" value=""> -\-> -->
    <!-- 	  <textarea name="content" id="content" rows="20" class="span12" tabindex="-1">{{article.content}}</textarea> -->
    <!-- 	<\!-- </div> -\-> -->
    <!--   </div> -->
    <!-- </div> -->
      <div class="row">
	<div class="span1">
	  <!-- [Id, Title, Content, CategoryId, Tags, AuthorId, CreatedOn, UpdatedOn] -->
	  <label for="title" id="title_label" name="title_label">Title</label>
	</div>
	<div class="span11">
	  <input type="text" id="title" name="title" class="span9" maxlength="255" placeholder="Give Your Article a Good Title" value="{{article.title}}"/>
	</div>
      </div>
      
      <div class="row">
	<div class="span1">
	  <label for="category" id="category_label" name="category_label">Categories</label>
	</div>
	<div class="span11">

	  <div class="row">
	    <div class="span3">
	      <!-- <label for="category" id="category_label" class="span3" name="category_label">Categories</label> -->
	      <select name="category" id="category">
		{% if categories %}
		{% for category in categories %}
		<option value="{{category.id}}" {% if article.category_id == category.id %} selected="selected" {% endif %}>{{category.name}}</option>
		{% endfor %}
		{% endif %}
	      </select>	
	    </div>
	  </div>

<!--	  <select name="category" id="category" class="span3">
	    <option value=""></option>
	    {% if categories %}
	    {% for category in categories %}
	    <option value="{{category.id}}">{{category.name}}</option>
	    {% endfor %}
	    {% endif %}
	  </select>
-->
	</div>
      </div>

      <div class="row">
	<div class="span1">
	  <label for="tags" id="tags_label" name="tags_label">Tags</label>
	</div>
	<div class="span11">
	  <input type="text" id="tags" name="tags" class="span9" class="span3" maxlength="255" placeholder="Tags, separated by commas" value="{{article.tags}}" />
	</div>
      </div>

      <div class="row">
	<div class="span1">
	  <label for="content" id="content_label" name="content_label">Content</label>
	</div>
	<div class="span11">
	  <div id="placeholder"="Enter your Article content here" value="">
	    <textarea name="content" id="content" rows="20" class="span12" tabindex="-1">{{article.content}}</textarea>
	  </div>
	</div>
      </div>



    <input type="submit" name="" value="Save" />
  </form>
</div>
{% endblock %}
