{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript">
  jQuery(document).ready(function() {
      $('.remove_url').click(function(){
	  var id = $(this).attr('id');

	  if( confirm("Do you want to delete this ("+id+") article?") ){
	      $.ajax({
		  url: "/article/delete/" + id,
		  async: false,
		  success: function() {
		      $('#row-'+id).remove();
		  }
	      })
	  }

	  return false;
      })
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  {% if articles %}  
  <h1>{{articles|length}} articles total</h1>
  <table class="table" style="" border="1">
    <tr>
      <th>Created On</th>
       <th>Modified</th>
      <th>Title</th>
      <th>Actions</th>
     </tr>

  {% for article in articles %}
    <tr id="row-{{article.id}}">
      <td>{{article.created_on|localdate}}</td>
      <td>{{article.updated_on|localdate}}</td>
      <td>{{article.title}}</td>
      <td>
	<a href="{% url controller="article" action="show" id=article.id %}">Show</a>
	<a href="{% url controller="article" action="edit" id=article.id %}">Edit</a>
	<a class="remove_url" href="#" id="{{article.id}}">Delete</a>
	<!-- <a href="{% url controller="article" action="obsolete" id=article.id %}">Obsolete</a> -->
      </td>
    </tr>
  {% endfor %}
  </table>

  {% endif %}

</div>
{% endblock %}
