{% extends "layout/application.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{_base_url}}/static/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{_base_url}}/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
  tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        // Not to self:  Download the css file ...
        content_css: "https://wiki.rackspace.corp/moin_static193/rackspace/css/common.css",
        //<!-- https://wiki.rackspace.corp/moin_static193/rackspace/css/screen.css", -->
        plugins : "advimage,advlink,advlist,autolink,autosave,contextmenu,inlinepopups,layer,nonbreaking,media,paste,searchreplace,template,fullscreen",
        dialog_type : "modal",
        readonly : true,
        theme_advanced_buttons1_add : "media",
        theme_advanced_buttons2_add : "insertlayer,moveforward,movebackward,absolute,pastetext,pasteword,selectall,fullscreen",
        theme_advanced_buttons3_add : "nonbreaking,search,replace,template",
        nonbreaking_force_tab : true,
        template_external_list_url : "/article/templates",
        template_external_list_url : "{{_base_url}}/static/js/tiny_mce/plugins/template/js/template_list.js",
        fullscreen_new_window : false,
        fullscreen_settings : {
                theme_advanced_path_location : "top"
        },
        paste_auto_cleanup_on_paste : true,
        paste_preprocess : function(pl, o) {
            // Content string containing the HTML from the clipboard
            o.content = "-: CLEANED :-\n" + o.content;
        },
        paste_postprocess : function(pl, o) {
            // Content DOM node containing the DOM structure of the clipboard
            o.node.innerHTML = o.node.innerHTML + "\n-: CLEANED :-";
        }
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid" style="border: 1px solid red;">
    <div class="span2" style="border: 1px solid purple;">
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;"><h5>Social</h5></div>
	<div class="span11 offset1" style="border: 1px solid pink;"><a class="btn btn-success span10" href="{% url controller="article" action="email" id=article.id %}"><i class="icon-envelope icon-white"></i> Email Article</a></div>
	<div class="span11 offset1" style="border: 1px solid pink;"><a class="btn btn-info span10" href="{% url controller="article" action="question" id=article.id %}"><i class="icon-question-sign icon-white"></i> Ask Question</a></div>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;"><h5>Article</h5></div>
	<div class="span11 offset1" style="border: 1px solid pink;"><a class="btn btn-primary span10" href="{% url controller="article" action="edit" id=article.id %}"><i class="icon-edit icon-white"></i> Edit Article</a></div>
	<div class="span11 offset1" style="border: 1px solid pink;"><a class="btn btn-warning span10" href="{% url controller="article" action="flag" id=article.id %}"><i class="icon-flag icon-white"></i> Flag Article</a></div>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;"><h5>Revisions</h5></div>
	<ul>
	  <li>Rev 07</li>
	  <li>Rev 06</li>
	  <li>Rev 05</li>
	  <li>Rev 04</li>
	  <li>Rev 03</li>
	  <li>Rev 02</li>
	  <li>Rev 01</li>
	</ul>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;"><h5>SME's</h5></div>
	<div class="span11 offset1" style="border: 1px solid pink;">Larry chat</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Curly <a href="#">chat</a></div>
	<div class="span11 offset1" style="border: 1px solid pink;">Moe chat</div>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;"><h5>Escalations<h5></div>
	<div class="span11 offset1" style="border: 1px solid pink;">Rizzo</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Pat</div>
      </div>
    </div> <!-- End of first column -->
    
    <div class="span8" style="border: 1px solid green;">
      <div class="row-fluid">
	<div class="span12">
	  <div class="row-fluid">
	    <div class="span12">
	      <center><h3>{{article.title}}</h3></center>
	    </div>
	  </div>
	  <div class="row-fluid" style="border: 1px solid pink;">
	    <div class="span4" style="border: 1px solid red;">
	      Category: <a href="{% url controller="search" action="categorysearch" category=article.category.name %}">{{article.category.name}}</a>
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      
	    </div>
	    <div class="span4" style="border: 1px solid green;">
	      Tags: {% if article.tags == "" %} no tags {% else %} {{article.tags}} {% endif %}
	    </div>
	  </div> <!-- row -->
	  <div class="row-fluid" style="border: 1px solid orange;">
	    <div class="span4" style="border: 1px solid blue;">
	      Author: <a href="{% url controller="search" action="authorsearch" author_id=article.author.id %}">{{article.author.fullname}}</a>
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      Created On: {{article.created_on|localdate}}
	    </div>
	    <div class="span4" style="border: 1px solid maroon;">
	      Updated On: {{article.updated_on|localdate}}
	    </div>
	  </div> <!-- row -->
	</div> <!-- cell -->
      </div> <!-- row -->
      
      <div class="row-fluid">
	<div class="span12">
	  <textarea name="article" id="article" rows="20" class="span12">{{article.content}}</textarea>	  
	</div> <!-- cell -->
      </div> <!-- row -->
      <div class="row-fluid">
	<div class="span12">
	  <div class="row-fluid" style="border: 1px solid pink;">
	    <div class="span4" style="border: 1px solid red;">
	      {% if tag1 %}<a href="{% url controller="search" action="tagsearch" tag=tag1 %}">{{tag1}}</a>{% endif %}
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      {% if tag2 %}<a href="{% url controller="search" action="tagsearch" tag=tag2 %}">{{tag2}}</a>{% endif %}
	    </div>
	    <div class="span4" style="border: 1px solid green;">
	      {% if tag3 %}<a href="{% url controller="search" action="tagsearch" tag=tag3 %}">{{tag3}}</a>{% endif %}
	    </div>
	  </div> <!-- row -->
	  <div class="row-fluid" style="border: 1px solid orange;">
	    <div class="span4" style="border: 1px solid blue;">
	      {% if tag4 %}<a href="{% url controller="search" action="tagsearch" tag=tag4 %}">{{tag4}}</a>{% endif %}
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      {% if tag5 %}<a href="{% url controller="search" action="tagsearch" tag=tag5 %}">{{tag5}}</a>{% endif %}
	    </div>
	    <div class="span4" style="border: 1px solid maroon;">
	      {% if tag6 %}<a href="{% url controller="search" action="tagsearch" tag=tag6 %}">{{tag6}}</a>{% endif %}
	    </div>
	  </div> <!-- row -->
	</div> <!-- cell -->

      </div> <!-- row -->
    </div> <!-- End of middle column -->

    <div class="span2" style="border: 2px solid yellow;">
	Related to:
	<ul>
      {% for related in related_articles %}
      <li><a href="/article/show/{{ related.article_id }}">{{ related.tag }}</a></li>
      {% empty %}
      <li>Nothing relates.</li>
      {% endfor %}
      </ul>
    </div> <!-- 3rd cell -->
  </div> <!-- End of Row -->
</div>
{% endblock %}
