{% extends "layout/application.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{_base_url}}/static/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid" style="border: 1px solid red;">
    <div class="span2" style="border: 1px solid purple;">
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;">Social</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Email</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Question</div>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;">Article</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Edit</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Flag</div>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;">Revisions</div>
	<ul>
	  <li>Rev 07</li>
	  <li>Rev 06</li>
	  <li>Rev 05</li>
	  <li>Rev 04</li>
	  <li>Rev 03</li>
	  <li>Rev 02</li>
	  <li>Rev 01</li>
	</ul>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;">SME's</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Larry chat</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Curly <a href="#">chat</a></div>
	<div class="span11 offset1" style="border: 1px solid pink;">Moe chat</div>
      </div>
      <div class="row-fluid">
	<div class="span12" style="border: 1px solid pink;">Escalations</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Rizzo</div>
	<div class="span11 offset1" style="border: 1px solid pink;">Pat</div>
      </div>
    </div> <!-- End of first column -->
    
    <div class="span8" style="border: 1px solid green;">
      <div class="row-fluid">
	<div class="span12">
	  <div class="row-fluid">
	    <div class="span12">
	      HEADER
	    </div>
	  </div>
	  <div class="row-fluid" style="border: 1px solid pink;">
	    <div class="span4" style="border: 1px solid red;">
	      Left Top
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      Middle Top
	    </div>
	    <div class="span4" style="border: 1px solid green;">
	      Right Top
	    </div>
	  </div> <!-- row -->
	  <div class="row-fluid" style="border: 1px solid orange;">
	    <div class="span4" style="border: 1px solid blue;">
	      Left Bottom
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      Middle Bottom
	    </div>
	    <div class="span4" style="border: 1px solid maroon;">
	      Right Bottom
	    </div>
	  </div> <!-- row -->
	</div> <!-- cell -->
      </div> <!-- row -->
      
      <div class="row-fluid">
	<div class="span12">
	  <textarea name="article" id="article" rows="20" class="span12"></textarea>	  
	</div> <!-- cell -->
      </div> <!-- row -->
      <div class="row-fluid">
	<div class="span12">
	  <div class="row-fluid" style="border: 1px solid pink;">
	    <div class="span4" style="border: 1px solid red;">
	      Left Top
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      Middle Top
	    </div>
	    <div class="span4" style="border: 1px solid green;">
	      Right Top
	    </div>
	  </div> <!-- row -->
	  <div class="row-fluid" style="border: 1px solid orange;">
	    <div class="span4" style="border: 1px solid blue;">
	      Left Bottom
	    </div>
	    <div class="span4" style="border: 1px solid #000;">
	      Middle Bottom
	    </div>
	    <div class="span4" style="border: 1px solid maroon;">
	      Right Bottom
	    </div>
	  </div> <!-- row -->
	</div> <!-- cell -->

      </div> <!-- row -->
    </div> <!-- End of middle column -->

    <div class="span2" style="border: 1px solid black;">
      <div class="span2">
	Attachments
      </div> <!-- cell -->
    </div> <!-- 3rd cell -->
  </div> <!-- End of Row -->
</div>
{% endblock %}
