{% extends "layout/application.html" %}
{% block javascript %}
<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
  tinyMCE.init({
        mode  : "textareas",
        theme : "advanced",
        readonly: true,
        theme_advanced_buttons3_add : "fullpage"
  });
</script>
{% endblock %}
{% block content %}
<div class="container-fluid well">
  {% if article %}
  <table class="" style="">
    <tr><td>Category</td><td>{{article.category.name}}</td></tr>
    <tr><td>Tags</td><td>{{article.tags}}</td></tr>
    <tr><td>Author</td><td>{{article.author.first}} {{article.author.last}}</td></tr>
    <tr><td>Created</td><td>{{article.created_on|localdate}}</td></tr>
    <tr><td>Updated</td><td>{{article.updated_on|localdate}}</td></tr>
  </table>

  <h2>{{article.title}}</h2>
  <textarea name="tinyMCEReadonly" id="tinyMCEReadonly" rows="50" cols="160" tabindex="">{{article.content}}</textarea>  
  {% endif %}
</div>
{% endblock %}
