{% if boss_flash %}
	{% for flash in boss_flash %}
		<div class="alert alert-{{flash.method}}">
			{{ flash.title }} {{ flash.message }}
			{% if errors %}
				<ul>
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endfor %}
{% endif %}
