<!DOCTYPE html>
<html>
  <head>
    <!-- Use Twitter Bootstrap for some basic UI "design" -->
    <link href="{{_base_url}}/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script src="{{_base_url}}/static/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
    <!-- Custom Javascripts and stuff that needs to go into the header goes here -->
    {% block javascript %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if boss_flash %}
    {% for flash in boss_flash %}
    <div class="alert alert-{{flash.method}}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ flash.message }}
    </div>
    {% endfor %}
    {% endif %}
    <ul class="nav nav-list inline">
      <li><a href="/search/index">Search</a></li>
      <li><a href="/article/create">Create Article</a></li>
      <li><a href="/article/">Articles</a></li>
      <li><a href="/author/index">Manage Authors</a></li>
      <li><a href="/category/index">Manage Categories</a></li>
      {% block navigation %} {% endblock %}
    </ul>
    <div id="container">
      {% block content %}{% endblock %}
    </div>
    <!-- Killroy was here -->
  </body>
</html>
