<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} | OpenCloud Schedule</title>
		
		<link rel="stylesheet" href="{{_base_url}}/static/css/login.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		
		<script src="{{_base_url}}/static/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{_base_url}}/static/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{_base_url}}/static/js/plugins/jquery.metadata.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{_base_url}}/static/js/plugins/jquery.mb.YTPlayer.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="{{_base_url}}/static/js/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{_base_url}}/static/js/login.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		{% block content %}{% endblock %}
		<a id="bgndVideo" href="http://www.youtube.com/watch?v=Y2aoGzAcQmE" class="movie {opacity:0.1, isBgndMovie:{width:'window',mute:true}, optimizeDisplay:true, showControls:false, ratio:'16/9'}"></a>
	</body>
</html>
