{% extends "layout/application.html" %}
{% block javascript %}
<script "javascript">
    $(document).ready(function(){	
	$('#search_form').submit(function(){
	    var checkboxes = 0;
	    
	    if ( $('#by_author').is(':checked')) {
		checkboxes++;
	    }

	    if( $('#by_category').is(':checked')) {
		checkboxes++;
	    }
	    
	    if( $('#by_tag').is(':checked')) {
		if( !$('#searchTag').val()) {
		    alert("If you check Tag Search, then you need to provide a tag to search for.");
		    $('#searchTag').focus();
		    return false;
		}
		checkboxes++;
	    }

	    if( !checkboxes && !$('#search').val()) {
		alert("Please select anything and/or type a search string");
		return false;
	    } else {
		return true;
	    }
	});
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid well">
  <h2>Search the Knowledgebase</h2>
  <form method="post" id="search_form" name="search_form" action="{% url controller="search" action="oldsearch" %}">

    <h2>Author Search</h2>
    <select name="searchAuthor" id="searchAuthor">
      {% if authors %}
      {% for author in authors %}
      <option value="{{author.id}}">{{author.sso}}</option>
      {% endfor %}
      {% endif %}
    </select>
    <input type="checkbox" name="by_author" id="by_author" value="true" />
    <br />
    
    <h2>Category Search</h2>
    <select name="searchCategory" id="searchCategory">
      {% if categories %}
      {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
      {% endif %}
    </select>
    <input type="checkbox" name="by_category" id="by_category" value="true" />
    <br />

    <h2>Tag Search</h2>
    <input type="text" id="searchTag" name="searchTag" class="input-small" maxlength="255" placeholder="Search Tags" value="" />
    <input type="checkbox" name="by_tag" id="by_tag" value="true" />
    <br />

    <h2>General Search</h2>
    <input type="text" id="search" name="search" class="input-xlarge" maxlength="255" placeholder="Search for..." value="" />
    <input type="submit" name="" value="Search" />
  </form>
</div>
{% endblock %}
